* {
    font-family: sans-serif;
}

.wd-tuiter-bookmarks{
    margin-left: 15px;
}

.fas.fa-arrow-left {
    position:absolute;
}

.wd-bookmark-header{
    font-weight: bold;
    padding-left: 65px;
    font-family: sans-serif;
    font-size:larger;
    padding-bottom: 15px;
}

.wd-bookmark-header > i {
    color:black;   
}

.wd-profile-icon{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

ul {
    list-style-type: none;
}
.wd-saved-tuit {
    padding-bottom: 40px;
    border-bottom: solid;
    border-color: lightgrey;
    border-width: 1px;
}

.wd-tuit {
    margin-left:30px;
}

.wd-tuit > li.wd-details {
    color:darkgray;
    margin-bottom: 5px;
}

.wd-tuit >li.wd-details > .wd-username {
    color:black;
    font-weight: bold;
    
}




figure.wd-tuit-body {
    border: solid;
    border-radius:15px;
    position:relative;
    left:-40px;
    width: 600px;
    border-color:lightgray;
    border-width: 1px;
}

figure.wd-tuit-body > img{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 600px;
}

figcaption.wd-tuit-caption {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    text-align: left;
    font-size: medium;
}
figcaption {
    padding-bottom: 12px;
}

figcaption > p {
    padding:0;
    margin:3;
}

figcaption.wd-tuit-caption > .wd-tuit-link {
    color: darkgray;
    text-decoration: none;
    
}
figcaption.wd-tuit-caption > .wd-article-title {
    color: black;
    
}

figcaption.wd-tuit-caption > .wd-article-excerpt {
    color: darkgray;
}

.wd-icon-bar {
    position: absolute;
    left: 75px;
    color: darkgrey;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.wd-icon-bar > i{ 
    padding-left: 40px;
    padding-right: 10px;
}

.wd-liked {
    color:red;
}
.wd-liked > i {
    padding-left: 40px;
    padding-right: 10px;
}


.fas.fa-ellipsis-h {
    position:absolute;
    left: 675px;
}
